<!DOCTYPE>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/login.css">

</head>

<body>
    <section class="vh-100" style="background-color: rgb(250, 250, 250);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 py-5 my-5 text-black">
                                    <form id="loginForm" action="/api/user/login" method="post">
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                                            <span class="h1 fw-bold mb-0" style="color:rgb(9, 127, 245);">Login
                                                Account</span>
                                        </div>
                                        <div class="form-outline my-5">
                                            <input type="text" name="user" id="user"
                                                class="form-control form-control-lg" placeholder="Username" />
                                        </div>
                                        <div class="form-outline my-5">
                                            <input type="password" name="pwd" id="pwd"
                                                class="form-control form-control-lg" placeholder="Password" />
                                        </div>
                                        <div class="row my-5">
                                            <div class="col-md-6">
                                                <input type="checkbox" id="cbtest" />
                                                <label for="cbtest" class="check-box"></label>
                                            </div>
                                            <span style="color: rgb(188, 202, 225);font-weight: blod;">Keep me sign
                                                in</span>

                                        </div>
                                        <div class="d-grid gap-2">
                                            <button id="login" class="btn btn-primary" type="button">SUBSRIBE</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/assets/js/login.js"></script>

</html>