<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第一頁</title>
    <!-- Include CSS -->
    <link rel="stylesheet" href="/assets/css/firstpage.css">
    <!-- Include common head content -->
    <%- include('./layout/head') -%>
</head>

<body>
    <div class="container text-center firstpage-layout">
        <div class="half-container">
            <button id="projectButton" class="ngs-button">NGS Library Prep</button>
        </div>
        <div id="popup" class="popup">
            <!-- Use a loop to generate project option buttons -->
            <% const projects=["Leukemia", "MPN" , "TP53" ]; %>
                <% for (const project of projects) { %>
                    <button class="projectOptionButton" data-project="<%= project %>">
                        <%= project %>
                    </button>
                    <% } %>
        </div>
        <button type="button" class="changePage nextPage btn-primary border-5">
            <i class="fa-solid fa-caret-right"></i>
        </button>
    </div>
    <div class="half-container">
        <div class="siderbar">
            <!-- Create a list of sidebar buttons -->
            <ul>
                <li><button id="pcrBtn" class="fbtn btn btn-primary border-5">PCR lib unload</button></li>
                <li><a href="/history" class="fbtn btn btn-primary border-5">History</a></li>
                <li><button id="btn-calibration" class="fbtn btn btn-primary border-5">Setting</button></li>
                <li><button type="button" class="fbtn btn btn-primary border-5" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Exit</button></li>
            </ul>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row modalFirstRow">
                            <p>Exit iNA NGS workstation?</p>
                        </div>
                        <div class="row justify-content-md-center my-5">
                            <div class="col-3">
                                <button type="button" class="btn chooseBtn" data-bs-dismiss="modal">&Chi;</button>
                            </div>
                            <div class="col-3">
                                <button id="btn-logout" type="button" class="btn chooseBtn">&radic;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include common JavaScript files -->
    <%- include('./layout/js') -%>
        <script src="/assets/js/firstpage.js"></script>
        <script src="/assets/js/PCR_open.js"></script>
        <script src="/assets/js/PCR_close.js"></script>
</body>

</html>