<!DOCTYPE html>
<html>

<head>
    <title>
        MPN
    </title>
    <%- include('./layout/head') -%>
    <link rel='stylesheet' href='/assets/css/third.css' />
</head>


<body>
    <div class="container text-center secondpage-layout">
        <div class="row mt-5 mb-5">
            <h1>SelfCheck</h1>
        </div>
        <div class="row checkSOP">
            <div class="col border border-2">

                <h5>Tip rack X1</h5>
            </div>
            <div class="col">

            </div>
            <div class="col border border-2">

                <h5>
                    96 well PCR plate
                </h5>
            </div>
            <div class="col"></div>
        </div>
        <div class="row checkSOP">
            <div class="col border border-2">

                <h5>
                    Tip rack X3
                </h5>
            </div>
            <div class="col border border-2 boder-dashed"></div>
            <div class="col border border-warning border-2 boder-dashed"></div>
            <div class="col"></div>
        </div>
        <div class="row checkSOP">
            <div class="col border border-2 boder-dashed"></div>
            <div class="col border border-2">

                <h5>12 well plate
                    with reagent</h5>
            </div>
            <div class="col border border-2">

                <h5>
                    Deep well
                    plate
                </h5>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row checkSOP">
            <div class="col border border-2 boder-dashed"></div>
            <div class="col"></div>
            <div class="col border border-2">

                <h5>
                    Empty racks
                    Cleaned
                </h5>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-5">
            <a href="/fifth"><button type="button" class="prevPage btn-primary border-5">prevPage</button></a>
        </div>
        <!-- <a href="/fifth"><button type="button" id="startBtn" class="nextPage btn-primary border-5">start</button></a> -->

    </div>
    <%- include('./layout/js') -%>
</body>

</html>