@import url("https://fonts.googleapis.com/css?family=Inter:700,400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

a {
    text-decoration: none;
}

.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgb(234, 234, 234);
}

.frame .div {
    border: 1px none;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.frame .overlap {
    width: 100%;
    margin-top: 24px;
}

.frame .overlap-group {
    left: 16px;
    position: relative;
}

.frame .element {
    height: 51px;
    width: 300px;
    font-weight: bold;
    font-size: 26px;
    margin-left: 830px;
    margin-top: 22px;
}


.frame .img {
    height: 317px;
    left: 115px;
    position: relative;
    top: 213px;
    width: 159px;
    scale: 2;
}

.frame .element-2 {
    height: 173px;
    left: -77px;
    position: relative;
    top: 120px;
    width: 87px;
    scale: 2;
}

.frame .element-wrapper {
    height: 22px;
    left: 26px;
    position: absolute;
    top: 346px;
    width: 42px;
    scale: 2;
}

.frame .div-wrapper {
    height: 22px;
    position: relative;
    width: 44px;
}

.frame .text-wrapper {
    color: #0f0f0f;
    font-family: "Inter", Helvetica;
    font-size: 17.9px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
}

.frame .element-3 {
    height: 63px;
    left: 366px;
    position: absolute;
    top: 3px;
    width: 222px;
    scale: 1.5;
}

.frame .element-4 {
    height: 11px;
    left: 393px;
    position: absolute;
    top: 18px;
    width: 121px;
}

.frame .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 9.3px;
    font-weight: 700;
    left: -3px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    top: 0;
    white-space: pre-wrap;
    scale: 1.8;
}

.frame .element-6 {
    height: 49px;
    left: 228px;
    position: absolute;
    top: 61px;
    width: 41px;
    scale: 2;
}

.frame .overlap-group-wrapper {
    height: 57px;
    left: 259px;
    position: absolute;
    top: 5px;
    width: 59px;
    scale: 2;
}

.frame .overlap-group-2 {
    background-image: url(/assets/img/---2.svg);
    background-size: 100% 100%;
    height: 48px;
    left: 5px;
    position: relative;
    top: 5px;
    width: 48px;
}

.frame .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32.7px;
    font-weight: 400;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
}

.frame .element-7 {
    height: 63px;
    left: 477px;
    position: absolute;
    top: 156px;
    width: 222px;
    scale: 1.5;
}

.frame .element-8 {
    height: 11px;
    left: 511px;
    position: absolute;
    top: 180px;
    width: 64px;
}


.frame .element-11 {
    height: 62px;
    left: 340px;
    position: absolute;
    top: 160px;
    width: 93px;
    scale: 2;
}

.frame .element-12 {
    height: 63px;
    left: 519px;
    position: absolute;
    top: 337px;
    width: 222px;
    scale: 1.5;
}

.frame .element-13 {
    height: 20px;
    left: 575px;
    position: absolute;
    top: 352px;
    width: 133px;
}


.frame .element-18 {
    height: 68px;
    left: 383px;
    position: absolute;
    top: 335px;
    width: 97px;
    scale: 2;
}

.frame .element-19 {
    height: 63px;
    left: 483px;
    position: absolute;
    top: 518px;
    width: 222px;
    scale: 1.5;
}

.frame .element-20 {
    height: 11px;
    left: 501px;
    position: absolute;
    top: 542px;
    width: 64px;
}

.frame .element-23 {
    height: 68px;
    left: 345px;
    position: absolute;
    top: 514px;
    width: 95px;
    scale: 2;
}

.frame .element-24 {
    height: 63px;
    left: 377px;
    position: absolute;
    top: 674px;
    scale: 1.5;
    width: 222px;
}

.frame .element-25 {
    height: 22px;
    left: 404px;
    position: absolute;
    top: 687px;
    width: 120px;
}

.frame .element-28 {
    height: 79px;
    left: 242px;
    position: absolute;
    top: 631px;
    width: 70px;
    scale: 2;
}

.frame .element-29 {
    height: 96px;
    width: 87px;
    margin: -4px -168px;
    scale: 2;
}

.overlap-2 {
    position: relative;
}

.frame .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32.7px;
    font-weight: 400;
    left: 400px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 167px;
    scale: 2;
}

.frame .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32.7px;
    font-weight: 400;
    left: 438px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 349px;
    scale: 2;
}

.frame .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32.7px;
    font-weight: 400;
    left: 397px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 528px;
    scale: 2;
}

.frame .text-wrapper-8 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32.7px;
    font-weight: 400;
    left: 281px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 684px;
    scale: 2;
}

.frame .overlap-3,
.frame .overlap-4,
.frame .overlap-6 {
    height: 62px;
    position: relative;
    left: 80px;
    margin: 140px 0px;
    scale: 1.2;
    cursor: pointer;
}

.frame .element-35 {
    height: 62px;
    left: 0;
    position: absolute;
    top: 0;
    width: 147px;
}

.frame .overlap-group-4 {
    background-image: url(/assets/img/--5@2x.png);
    background-size: 100% 100%;
    height: 62px;
    position: relative;
    width: 145px;
}

.frame .element-36 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 145px;
}

.frame .text-wrapper-9 {
    color: #a7aab3;
    font-family: "Inter", Helvetica;
    font-size: 16.3px;
    font-weight: 400;
    left: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
}

.frame .element-37 {
    height: 19px;
    left: 31px;
    position: absolute;
    top: 17px;
    width: 5px;
}

.frame .element-38 {
    height: 19px;
    left: 22px;
    position: absolute;
    top: 16px;
    width: 15px;
}

.frame .overlap-5 {
    background-image: url(/assets/img/--13@2x.png);
    background-size: 100% 100%;
    height: 62px;
    position: relative;
    width: 145px;
}

.frame .element-39 {
    height: 12px;
    left: 17px;
    mix-blend-mode: overlay;
    position: absolute;
    top: 15px;
    width: 12px;
}

.frame .element-40 {
    height: 24px;
    left: 18px;
    position: absolute;
    top: 14px;
    width: 27px;
}

.frame .overlap-wrapper {
    background-image: url(/assets/img/--21@2x.png);
    background-size: 100% 100%;
    height: 62px;
    left: 0;
    position: absolute;
    top: 0;
    width: 145px;
}

.frame .end-of-program-wrapper {
    background-image: url(/assets/img/--26@2x.png);
    background-size: 100% 100%;
    height: 50px;
}

.frame .end-of-program {
    height: 40px;
    left: 53px;
    position: relative;
    top: 4px;
    width: 74px;
}

.frame .overlap-group-5 {
    height: 40px;
    position: relative;
    width: 70px;
}

.frame .text-wrapper-10 {
    color: #a7aab3;
    font-family: "Inter", Helvetica;
    font-size: 16.3px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.frame .program {
    color: #a7aab3;
    font-family: "Inter", Helvetica;
    font-size: 16.3px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
}

.frame .element-41 {
    height: 14px;
    left: 19px;
    position: absolute;
    top: 21px;
    width: 14px;
}

.frame .element-42 {
    height: 14px;
    left: 21px;
    position: absolute;
    top: 19px;
    width: 14px;
}

.frame .element-43 {
    height: 14px;
    left: 945px;
    position: absolute;
    top: 487px;
    width: 1px;
}