body {
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fbtn {
    width: 170px;
    font-size: 23px;
    color: black;
    font-weight: blod;
    white-space: nowrap;
}

#btn-login {
    background-color: rgb(255, 102, 255) !important;
    border-color: rgb(218, 227, 243);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}


#btn-history {
    background-color: rgb(157, 195, 230) !important;
    border-color: rgb(65, 113, 156);
}

#btn-calibration {
    background-color: rgb(157, 195, 230) !important;
    border-color: rgb(65, 113, 156);
}

#btn-la {
    background-color: rgb(222, 235, 247) !important;
    margin: auto;
    border-color: rgb(255, 242, 204);
}

#btn-mpn {
    background-color: rgb(222, 235, 247) !important;
    margin: auto;
    border-color: rgb(251, 229, 214);
}

#btn-tp53 {
    background-color: rgb(222, 235, 247) !important;
    margin: auto;
    border-color: rgb(251, 229, 214);
}

.siderbar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#loginModal {
    margin-top: -28%;
}

.row {
    --bs-gutter-x: 0;
}

.midBtn {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.firstpage-layout .row {
    margin: 18vh 0;
}

.siderbar a {
    margin: 2vh 0;
}