/* Global styles */
* {
  letter-spacing: 2px;
  background-image: url("./img/bg.jpg");
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

/* Logo styles */
.d-md-block img {
  margin: 0 auto;
  width: 275px;
  display: block;
  margin-top: 12em;
}

/* Form input styles */
.form-control-lg {
  min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 2));
  padding: 1.1rem 1rem;
  font-size: 1.25rem;
  border-radius: inherit !important;
  border-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  box-shadow: -6px 0 0px -1.4px rgb(9, 127, 245);
  -moz-box-shadow: -6px 0 0px -1.4px rgb(9, 127, 245);
  -webkit-box-shadow: -6px 0 0px -1.4px rgb(9, 127, 245);
  background-color: rgb(247, 247, 247);
}

.form-control:focus {
  border-color: rgba(255, 255, 255, 0);
  box-shadow: -6px 0 0px -1.4px rgb(9, 127, 245);
  box-shadow: -6px 0 0px -1.4px rgb(9, 127, 245);
  -moz-box-shadow: -6px 0 0px -1.4px rgb(9, 127, 245);
  -webkit-box-shadow: -6px 0 0px -1.4px rgb(9, 127, 245);
  outline: 0;
}

/* Primary button styles */
.btn-primary {
  background-color: rgb(9, 127, 245);
  font-size: 22px;
  font-weight: bold;
}

/* Checkbox styles */
.container h2 {
  margin-bottom: 40px;
}

.container p {
  margin-top: 40px;
}

/* Checkmark style starts */
@keyframes dothabottomcheck {
  0% {
      height: 0;
  }
  100% {
      height: 35px;
  }
}

@keyframes dothatopcheck {
  0% {
      height: 0;
  }
  50% {
      height: 0;
  }
  100% {
      height: 84px;
  }
}

input[type="checkbox"] {
  display: none;
}

.check-box {
  height: 70px;
  width: 70px;
  background-color: transparent;
  border: 7px solid #000;
  border-radius: 3.5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.check-box::before,
.check-box::after {
  content: " ";
  position: absolute;
  height: 0;
  width: 14px;
  background-color: #34b93d;
  border-radius: 3.5px;
  transform-origin: left top;
  transition: opacity ease 0.5;
}

.check-box::before {
  top: 50px;
  left: 28.7px;
  transform: rotate(-135deg);
}

.check-box::after {
  top: 25.9px;
  left: 3.5px;
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked + .check-box,
.check-box.checked {
  border-color: #34b93d;
}

input[type="checkbox"]:checked + .check-box::after,
.check-box.checked::after {
  height: 35px;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type="checkbox"]:checked + .check-box::before,
.check-box.checked::before {
  height: 84px;
  animation: dothatopcheck 0.4s ease 0s forwards;
}

/* Login card styles */
.login-card {
  border-radius: 1rem;
}

.login-card .card-body {
  color: #000;
}

.login-title {
  color: #097ff5;
}

.form-label {
  color: #2f62b4;
  font-weight: bold;
}

.checkbox-label {
  color: #2f62b4;
  font-weight: bold;
}