body {
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.cbtest {
    position: fixed;
    margin: 39px -17px;
}

.scircle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px 0;
}

.ShowUser {
    background-color: rgb(255, 102, 255);
    position: absolute;
    top: 50px;
    right: 140px;
    width: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(218, 227, 243);
}

.nextPage {
    background-color: rgb(51, 204, 51);
    width: 100px;
}

.prevPage {
    background-color: rgb(51, 204, 51);
    width: 100px;
}

.select1,
.select2,
#customText {
    width: 100%;
}

.tdWidth {
    width: 154px;
}